.prod {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 310px;
  height: 120px;
  border-radius: 24px;
}
img{
  margin: 20px;
}
.info-prod {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 120px;
    width: max-content;
    margin: 30px;
}
.white {
  background-color: #ffffff;
}

.beige {
  background-color: #fef2ee;
}

.title,
.brand,
.price {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #fe805c;
}

.brand {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.25px;
  color: #afafbd;
}

.price {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #12121f;
}
